<h1>
    Post New Questions
</h1>

<form action="/questions", method="POST">
    <input type="text" placeholder="Question" name="title">
    <input type="text" placeholder="Description Of Question" name="description">
    <input type="text" placeholder="tag" name="tags">
    <button>Submit!</button>
</form>

<a href="/questions">Back to All Questions</a>
